.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.header-title {
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.header-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
}

.header-link:hover {
  background-color: #fff;
  color: #333;
}

.layout {
  flex: 1;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.my-information {
  display: flex;
  align-items: center;
}

.my-photo {
  margin-right: 1rem;
}

.my-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.my-namedescription {
  color: #333;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section {
  margin-top: 20px;
  width: 100%;
}

.main h1 {
  text-align: center;
  margin-top: 20px;
}

.competence {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.competence-block {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.competence-block.can {
  background-color: lightgreen;
}

.competence-block.cant {
  background-color: pink;
}

.competence-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.competence-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.competence-level {
  font-style: italic;
}

.competence-levelnumber {
  font-weight: bold;
}

.competence-skills {
  list-style-type: disc;
  margin-left: 20px;
}

.toggle-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #2980b9;
}
